<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="style.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'moviestore/style.css' %}">
</head>
<body class="login">
    <div class="container">
        <h1>You've successfully logged in!</h1>
        <a href="{% url 'logout' %}" class="btn">Log out</a>
    </div>
</body>
</html>
