body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

li {
    margin: 10px;
    flex: 1 1 calc(33.333% - 20px); /* Three items per row */
    box-sizing: border-box;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    max-width: 1px;
}